---
title: Sunny Delivery
---
<%= partial "partials/order" %>

<!-- Mobile Header Only /X/ Content is visible only on phone -->
<div class="wrapper">
    <div class="header">
      <div class="header-logo">
        <img src="/images/sunny-logo.png" />
      </div>
      <div class="desc-eng">
        <p>STURDY DELIVERY SERVICE OPERATING THE AREA FKA SCANDINAVIA. WE SPECIALIZE IN DELIVERING HARD- AND BIOWARE. FOR RUSHED AND UNIQUE DELIVERIES, PLEASE TAKE A LOOK AT OUR SPECIAL CIRCUMSTANCES OPTION.</p>
      </div>
      <div class="desc-jp">
        <p>STURDY DELIVERY SERVICE OPERATING THE AREA FKA SCANDINAVIA. WE SPECIALIZE IN DELIVERING HARD- AND BIOWARE. FOR RUSHED AND UNIQUE DELIVERIES, PLEASE TAKE A LOOK AT OUR SPECIAL CIRCUMSTANCES OPTION.</p>
      </div>
      <div class="order_btn"></div>
    </div>
</div>

<!-- Desktop Menu header -->
<div class="wrapper">
  <!--<div class="header">header</div> -->
  <div class="left">
    <img src="/images/sunny-logo.png" />
    <p>SUNNY.DELIVERY</p>
    <br />
    <p>~ABOUT</p>
    <p>STURDY DELIVERY SERVICE OPERATING THE AREA FKA SCANDINAVIA.
    <br /><br />WE SPECIALIZE IN DELIVERING HARD- AND BIOWARE.
    <br /><br />FOR RUSHED AND UNIQUE DELIVERIES, PLEASE TAKE A LOOK AT OUR SPECIAL CIRCUMSTANCES OPTION.</p>
    <br />
    <p>〜について</p>
    <p>以前はスカンジナビアと呼ばれていた地域を運営する陸送サービス
    <br /><br />
    <br />私たちはハードとバイオウエアを提供することを専門としています。
    <br /><br />
    <br />一貫性のあるユニークな配達のために、私たちの特別な状況の選択をしてください。</p>
  </div>


  <div class="main">
    <%= partial "partials/account" %>
    <%= partial "partials/history" %>
    <%= partial "partials/status" %>
    <%= partial "partials/payload" %>
    <%= partial "partials/support" %>
  </div>


  <div class="right">
    <a href="#order-popup">
      <div class="order_btn"></div>
    </a>
  </div>


  <div class="footer">
    <p>footer</p>
  </div>
</div>
